asgiref==3.11.1
django-sslserver
Pillow==10.4.0
pandas==2.2.3
django-select2
cffi==2.0.0
click==8.4.1
dj-database-url==2.0.0
django==6.0.5
et-xmlfile==2.0.0
gunicorn==26.0.0
MarkupSafe==3.0.3
openpyxl==3.1.5
pluggy==1.6.0
psycopg2-binary==2.9.12
pyparsing==3.1.4
pyOpenSSL==26.2.0
python-dateutil==2.9.0.Post0
python-dotenv==1.2.2
six==1.17.0
sqlite-fts4==1.0.3
sqlite-utils==3.39
sqlparse==0.5.5
tabulate==0.10.0
typing-extensions==4.15.0
tzdata==2026.2
Werkzeug==3.1.8
