{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Enviado</title>
        <link rel="stylesheet" href="{% static 'css/estiloMural.css' %}">
        <link rel="stylesheet" href="{% static 'css/enviado.css' %}">
</head>
<body>

    <div class="monstro">

        <img class="corpo"
            src="{% static 'img/corpo(2).png' %}">

        <div class="ombro-esquerdo">
            <img class="braco-esquerdo1"
                src="{% static 'img/braco-esquerdo1.png' %}">
        </div>

        <div class="ombro-direito">
            <img class="braco-direito"
                src="{% static 'img/braco-direito.png' %}">
        </div>

    </div>

    <div class="principal">
        <div class="ok">✔</div>
        <h1>Formulário enviado com sucesso!</h1>
        <p>Suas informações foram registradas corretamente.</p>

        <h2>aguarde ou atualize a pagina para ver a próxima reserva</h2>
    </div>
<script>
    const equipamentoId = "{{ id }}";
    const reservaAtualId = "{{ reserva_id }}";

    function verificarProximaReserva() {
        fetch(`/tablet/${equipamentoId}/status/?reserva_atual=${reservaAtualId}`)
            .then(resposta => resposta.json())
            .then(dados => {
                if (dados.nova_reserva) {
                    window.location.href = "/tablet/" + equipamentoId + "/";
                }
            })
            .catch(erro => console.error("Erro ao verificar próxima reserva:", erro));
    }

    // Verifica a cada 15 segundos se já chegou a hora de outra reserva
    setInterval(verificarProximaReserva, 15000);
</script>
</body>
</html>